@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button ><a href="MisPaginas/Migrantes" > Registrar</a> </button>
<button ><a href="MisPaginas/Login" > Iniciar Sesion</a> </button>
<button ><a href="MisPaginas/EditMigrantes" > Edit Migrante</a> </button>
<button ><a href="MisPaginas/EditGrupo" > Edit grupo</a> </button>
<button ><a href="MisPaginas/EditGrupo" > Edit grupo</a> </button>