@page
@model Frontend.Pages.EditMigrantesModel
@{
    int migrantesId=Model.Migrantes.Id;
}
<h2>Editar Datos Migrantes</h2>
<form method="post">
    <input type="hidden" asp-for="Migrantes.Id"/>

        <div class="for-group">
        <label asp-for="Migrantes.nombre"> Nombre</label>
        <input asp-for="Migrantes.nombre" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.nombre"></span>        
    </div>
        <div class="for-group">
        <label asp-for="Migrantes.apellidos ">Apellidos</label>
        <input asp-for="Migrantes.apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.apellidos"></span>        
    </div>
        <div class="for-group">
        <label asp-for="Migrantes.tipo_documento  ">Tipo de documento</label>
        <input asp-for="Migrantes.tipo_documento " class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.tipo_documento"></span>        
    </div>
        <div class="for-group">
        <label asp-for="Migrantes.numero_documento"> Numero de Documento</label>
        <input asp-for="Migrantes.numero_documento" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.numero_documento"></span>        
    </div>
    <div class="for-group">
        <label asp-for="Migrantes.pais"> Pais de origen</label>
        <input asp-for="Migrantes.pais" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.pais"></span>        
    </div>
    <div class="for-group">
        <label asp-for="Migrantes.fecha_nacimiento"> Fecha de nacimiento</label>
        <input asp-for="Migrantes.fecha_nacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.fecha_nacimiento"></span>        
    </div>
    <div class="for-group">
        <label asp-for="Migrantes.correo">Correo</label>
        <input asp-for="Migrantes.correo" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.correo"></span>        
    </div>
    <div class="for-group">
        <label asp-for="Migrantes.telefono">Telefono</label>
        <input asp-for="Migrantes.telefono" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.telefono"></span>        
    </div>
     <div class="for-group">
        <label asp-for="Migrantes.direccion">Direccion</label>
        <input asp-for="Migrantes.direccion" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.direccion"></span>        
    </div>
     <div class="for-group">
        <label asp-for="Migrantes.ciudad">Ciudad</label>
        <input asp-for="Migrantes.ciudad" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.ciudad"></span>        
    </div>
     <div class="for-group">
        <label asp-for="Migrantes.situacion_laboral">Situacion Laboral</label>
        <input asp-for="Migrantes.situacion_laboral" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.situacion_laboral"></span>        
    </div>
    <div class="for-group">
        <label asp-for="Migrantes.contraseña"></label>
        <input asp-for="Migrantes.contraseña" class="form-control">
        <span class="text-danger" asp-validation-for="Migrantes.contraseña"></span>        
    </div>
    

     <button type="submit" class="btn btn-primary">Guardar</button>
     <a href="/MisPaginas/Migrantes" class="btn-ghost secondary round"> Volver</a>

</form>


