@page
@model Frontend.Pages.LoginModel
@{
}
<form method="POST">

<section class="registro">
<h1> Iniciar Sesion  </h1>

    <input class="controls" type="text" name="numero_documento" placeholder="Ingresa tu numero de documento     ">
    <input class="controls" type="password" name="contraseña" placeholder="Ingresa tu clave     ">
    <br><br>
     <div class = "btn-item">  
       <center>  <input href ="/MisPaginas/Cuatro" class= "btn-ghost round" type="submit" value="Iniciar Sesion"> </center>
     </div>
    <br> 

</section>
</form>